<!doctype html>
<html>
    <head>
        <title>My App</title>
       <!--  <link rel="stylesheet" href="{{ assetPath "css/app.css" }}"> -->
    </head>
    <body>
        <script src="{{ assetPath "all.min.js" }}"></script>
    </body>
</html>